@model IEnumerable<ConsumoElectrico.Models.PrecioEnergia>

@{
    ViewBag.Title = "Index - Precio Energia";
}

<h2>Index - Precio Energia</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PEDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEDesde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEhasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PESinSubs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEConsubs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaActivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaLimite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PEDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEhasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PESinSubs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEConsubs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaActivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaLimite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PEId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PEId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PEId })
        </td>
    </tr>
}

</table>
