@model IEnumerable<ConsumoElectrico.Models.LecturaDistrib>

@{
    ViewBag.Title = "Index - Lectura Distribuidora";
}

<h2>Index - Lectura Distribuidora</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LDFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LDLectura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LDFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LDLectura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LDId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LDId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LDId })
        </td>
    </tr>
}

</table>
